.selecto-selection {
	opacity: 0.5 !important;
	border-radius: 2px;

	@apply bg-matcha-light border-matcha-light !important;
}

.moveable-line {
	border-radius: 20px !important;

	@apply bg-matcha-light !important;
}

.the_background {
	height: 100vh;
	width: 100%;
	position: fixed;
	display: flex;
}
