.canv {
}


.canv_button {
	/*position: absolute;*/
	/*display: flex;*/
	/*left: -45px;*/
	/*top: 12px;*/
        opacity: 0;
        transition: 0.3s;
	/*flex-direction: row;*/
	/*[>@apply space-x-1;<]*/
}

.canv:hover .canv_button{
	/*display: block;*/
	opacity: 1;
}

.canv_button:hover {
    opacity: 1;
}

.actual_canvas_el {
    /*transform: scale(0.5);*/
}
