.canv {
    position: relative;
    border: 1px solid transparent;
    transition: 0.3s;
}


.scry_buttons {
    position: absolute;
    display: flex;
    right: -40px;
    top: 30px;
    opacity: 0;
    transition: 0.3s;
    flex-direction: column;
    /*@apply space-y-1;*/
}

.canv:hover .scry_buttons{
	/*display: block;*/
	opacity: 1;
}

.scry_buttons:hover {
    opacity: 1;
}

.actual_canvas_el {
    /*transform: scale(0.5);*/
    border: 1px solid var(--ink);
}



.scry_control {
	/*color: red;*/
	transition: 0.2s;
	padding: 3px;
	border-radius: 2px;
	@apply text-matcha-light-ink;
}

.scry_control:hover {
	@apply bg-matcha-highlight;
}
